body{
background:#f4f4f4;
font-family:Arial;
}

.container{
width:300px;
margin:auto;
margin-top:100px;
background:white;
padding:20px;
border-radius:10px;
}

h1{
text-align:center;
}

input,textarea{
width:100%;
padding:10px;
margin-top:10px;
}

button{
width:100%;
padding:10px;
margin-top:10px;
background:blue;
color:white;
border:none;
}
